<%- include("partials/header_sec"); -%>

<div class="site-section" id="about-section">
  <div class="block__73694">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <div class="block-heading-1" data-aos="fade-up" data-aos-delay="">
            <h2><%=biography%></h2>
          </div>
        </div>
      </div>
      <div class="row d-flex no-gutters align-items-stretch">

        <div class="col-12 col-lg-6 block__73422" style="background-image: url('/images/cavaleiro-profissional-biografia (1).jpg');" data-aos="fade-right" data-aos-delay="">
        </div>


        <div class="col-lg-5 ml-auto p-lg-5 mt-4 mt-lg-0" data-aos="fade-left" data-aos-delay="">
          <p><%=biography_text_1%></p>

        </div>

      </div>
    </div>
  </div>


  <div class="block__73694">
    <div class="container">
      <div class="row d-flex no-gutters align-items-stretch">

        <div class="col-12 col-lg-6 block__73422 order-lg-2" style="background-image: url('/images/cavaleiro-profissional-biografia (2).jpg');" data-aos="fade-left" data-aos-delay="">
        </div>

        <div class="col-lg-5 mr-auto p-lg-5 mt-4 mt-lg-0 order-lg-1" data-aos="fade-right" data-aos-delay="">
          <!-- <h2 class="mb-3 text-primary">...</h2> -->
          <p><%=biography_text_2%></p>

        </div>

      </div>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
