<%- include("partials/header_sec"); -%>

<div class="site-section overlay img-bg-section" id="services-section" style="background-image: url('/images/cavaleiro-profissional-dia-a-dia.jpg'); background-size: cover;">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <div class="block-heading-1" data-aos="fade-up" data-aos-delay="">
          <h2><%=dailyLife%></h2>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
        <div class="block__35630">
          <div class="icon mb-3">
            <img class="img-service" src="/images/equitacao-de-trabalho.png" alt="">
          </div>
          <a href="/<%=language%>/photos/work-equitation-tests">
            <h3 class="mb-3 text-white-normal"><%=workEquitationTests%></h3>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
        <div class="block__35630">
          <div class="icon mb-3">
            <img class="img-service" src="/images/estagios.png" alt="">
          </div>
          <a href="/<%=language%>/photos/riding-lessons">
            <h3 class="mb-3 text-white-normal"><%=ridingLessons%></h3>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
        <div class="block__35630">
          <div class="icon mb-3">
            <img class="img-service" src="/images/breaking-dressage.png" alt="">
          </div>
          <a href="/<%=language%>/photos/work-training">
            <h3 class="mb-3 text-white-normal"><%=workTraining%></h3>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
        <div class="block__35630">
          <div class="icon mb-3">
            <img class="img-service" src="/images/tauromaquia.png" alt="">
          </div>
          <h3 class="mb-3 text-white-normal-nolink"><%=bullfights%></h3>
          <a href="/<%=language%>/photos/bullfights-amateur">
            <h4 class="mb-3 text-white-smaller"><%=amateur%></h4>
          </a>
          <a href="/<%=language%>/photos/bullfights-professional">
            <h4 class="mb-3 text-white-smaller"><%=professional%></h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include("partials/footer"); -%>
