<%- include("partials/header_sec"); -%>
<div
  class="site-section overlay img-bg-section"
  id="services-section"
  style="
    background-image: url('images/cavaleiro-profissional-dia-a-dia.jpg');
    background-size: cover;
  "
>
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <div class="block-heading-1">
          <h2><%=update%></h2>
        </div>
      </div>
    </div>

    <div class="row mb-5 justify-content-center">
      <div class="col-md-12">
        <form
          class=""
          action="/<%=language%>/photos/<%=photo.theme%>/<%=photo._id%>/update"
          method="post"
        >
          <div class="form-group form-part-container-md">
            <div class="form-part-container-sm">
              <label class="form-title"><%=titlePT%></label>
              <input
                class="form-control"
                type="text"
                name="titlePT"
                value="<%=photo.titlePT%>"
              />
            </div>
            <div class="form-part-container-sm">
              <label class="form-title"><%=titleEN%></label>
              <input
                class="form-control"
                type="text"
                name="titleEN"
                value="<%=photo.titleEN%>"
              />
            </div>

            <div class="form-part-container-sm">
              <label class="form-title"><%=titleFR%></label>
              <input
                class="form-control"
                type="text"
                name="titleFR"
                value="<%=photo.titleFR%>"
              />
            </div>
          </div>
          <div class="form-group form-part-container-md">
            <div class="form-part-container-sm">
              <button class="btn btn-primary" type="submit"><%=save%></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
