<%- include("partials/header"); -%>

<div class="site-section overlay img-bg-section" id="services-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <div class="block-heading-1">
          <h2><%=requestedPhotoTheme%></h2>
        </div>
      </div>
    </div>
    <div class="row mb-5 justify-content-center">

      <%  photos.forEach(function(photo){ %>
      <div class="col-md-5 text-center">
        <div>
          <a href="/photos/<%=photo.theme +'/' + photo.name%>"><img class="img-fluid photo-image" src="/uploads/<%=photo.name%>" alt="<%=photo.name%>"></a>

        </div>
      </div>

      <% }); %>

    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
