<%- include("partials/header"); -%>

<div class="row">
  <div class="col-sm-12">
    <div>
      <h2><%=post.title%></h2>
      <p class="text-muted mb-3 text-uppercase small"><span class="mr-2"><%=post.updatedOn%></span></p>
      <a href="" class="mb-4 d-block"><img src="images/cavaleiro-profissional-noticias (1).jpg" alt="Image" class="img-fluid rounded"></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div>
      <p><%=post.content%></p>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
