<%- include("partials/header"); -%>
<div class="site-section overlay img-bg-section" id="services-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <div class="block-heading-1">
          <h2><%=post["title"+language]%></h2>
        </div>
      </div>
    </div>
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <div>
          <p class="text-muted mb-3 text-uppercase small"><span class="mr-2"><%=post.updatedOn%></span></p>
          <img src="/uploads/<%=post.photoName%>" alt="Image" class="img-fluid post-image">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div>
          <p><%=post["content"+language]%></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
