<%- include("partials/header"); -%>

<div class="site-section overlay img-bg-section" id="services-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <div class="block-heading-1">
          <h2>Notícias</h2>
        </div>
      </div>
    </div>
    <div class="row mb-5 justify-content-center">

        <%  posts.forEach(function(post){ %>
        <div class="col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
          <div>
            <img src="/uploads/<%=post.photoName%>" alt="Image" class="img-fluid post-image">
            <h2><%=post.title%></h2>
            <p class="text-muted mb-3 text-uppercase small"><span class="mr-2"><%=post.updatedOn%></span></p>
            <p><%=post.content.substring(0, 100) + " ..."%></p>
            <p><a href="/posts/<%=post.title%>">Ler mais</a></p>

        </div>
      </div>

        <% }); %>

    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
